 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Variables
$green: RGBA(65, 112, 102, 1);
$orange: RGBA(194, 93, 5, 1);
$boldFont: 'Oxygen', sans-serif;
$skinnyFont: 'Wire One', sans-serif;
// Custom Styles
body {
  background: RGBA(234, 234, 234, 1);
  font-family: $boldFont;
  font-size: 62.5%;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
  color: $orange;
}

p {
  font-size: 1.6em;
}

a, ul, li {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  padding: 0 20px;
  font-weight: 200;
  line-height: 30px;

  span {
    font-size: 75px;
    line-height: 1;
    letter-spacing: -1px;
    padding-top: 20px;
    font-family: $skinnyFont;
  }
  a {
    text-decoration: none;
    color: $green;
  }
}

.container {
  @include outer-container;
  max-width: 1000px;
}

nav {
  @include outer-container;
  max-width: 1000px;
  padding: 40px 0;
  font-size: 25px;
}

.navBar {
  float: right;
}

button, input {
  color: RGBA(99, 98, 93, 1);
  background-color: white;
}

#logIn, #signUp {
  @include span-columns(6);
  margin-top: 40px;
  padding: 40px;
  height: 360px;
  border: solid white 2px;
  background: transparent;
  box-shadow: inset 0 1px 2px #777777, 0 2px 2px #666666;

  h3 {
    margin-bottom: 20px;
    color: $green;
  }

  input {
    @include span-columns(6 of 6);
    height: 40px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    font-size: 1.6em;
  }

  button {
    @include span-columns(6 of 6);
    height: 60px;
    border: none;
    background-color: $green;
    color: white;
    font-size: 2em;
  }
}

.allPosts {
  @include span-columns(12);

  li {
    margin-bottom: 40px;
    padding: 20px 0;
    border-bottom: 2px solid white;
  }

  h3 {
    color: $orange;
  }
}

.mainPage {
  color: black;
  font-size: 25px;
}

.footer {
  width: 100%;
  height: 100px;
  background: url('');
}

// Single Post
#singleTitle {
  text-align: center;
  color: $orange;
}
#singleCopy {
  text-align: center;
  //@include span-columns(10);
  //@include shift(2);
}
#postAuthor {
  font-size: 2.5em;
  font-family: $skinnyFont;
}
#addComment {
  text-color: $green;
  margin-top: 25px;
}
.editPost {
  padding-left: 10px;
}
.commentHeader {
  padding-top: 50px;
  padding-bottom: 15px;
  font-family: $skinnyFont;
  font-size: 3em;
}
.commentList {
  font-size: 1.5em;
  line-height: 4em;
  border-bottom: 2px dotted $orange;
}
#commentText {
  width: 45%;
  font-size: 1.3em;
}
